body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: linear-gradient(135deg, #0c2474, #C0C0C0);
}

header {
    background-color: #1e097c;
    color: #fff;
    padding: 20px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.logo h1 {
    margin: 0;
}

.nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
}

.nav-links a:hover {
    text-decoration: underline;
}

.burger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.line1, .line2, .line3 {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 5px;
}


@media screen and (max-width: 768px) {
    .nav-links {
        position: absolute;
        right: 0;
        top: 60px;
        background-color: #0f116d;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        transition: transform 0.5s ease-in-out;
        transform: translateY(-100%);
    }

    .nav-links.nav-active {
        transform: translateY(0);
    }

    .nav-links li {
        margin: 10px 0;
    }

    .burger {
        display: flex;
    }
}

.hero {
    background-color: #150b6e;
    color: #fff;
    padding: 100px 0;
    text-align: center;
}

.hero-content {
    max-width: 800px;
    margin: 0 auto;
}

.hero h1 {
    font-size: 36px;
}

.hero p {
    font-size: 18px;
    margin-bottom: 20px;
}

.cta-button {
    display: inline-block;
    background-color: #FFA500;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: #FF8C00;
}


.about {
    background-color: #1e097c;
    padding: 80px 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.about h2 {
    color: #333;
    font-size: 32px;
    margin-bottom: 30px;
}

.about p {
    color: #666;
    font-size: 18px;
    line-height: 1.6;
}